 <div class="main_header-bg">
  <div class="nav container">
    <a href="#" class="nav__logo" id="navigation-logo">
      <div class="nav__logo-img"></div>
      <span class="nav__logo-title">Filmoteka</span>
    </a>
    <ul class="nav__list js__nav">
      <li class="nav__item">
        <a href="#" class="nav__btn nav__home">HOME</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__btn nav__library">MY LIBRARY</a>
      </li>
    </ul>
  </div>
  </div>

