<div class="btn-box container">
    <button class="btn-box__action-btn active" id="watched btn">Watched</button>
    <button class="btn-box__action-btn" id="watch-later-btn">Queue</button>
 </div>
</div>
