.gallery_list {
  padding-bottom: 32px;
}

.gallery-list__item {
  width: 272px;
}

.gallery-list__item:not(:last-child) {
  padding-bottom: 20px;
}

.gallery-list__item_image {
  padding-bottom: 12px;
  width: 272px;
  height: 402px;
}


.gallery-list__item_title {
  text-transform: uppercase;
  color: var(--main-dark-color);
  font-size: var(--main-font-size);
  font-family: var(--main-font);
  font-weight: medium;
}

.filmInfo {
  display: flex;
  flex-wrap: wrap;
  width: 280px;

}

.filmInfo__genre {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--main-decoration-color);
  font-weight: 700;
}

.filmInfo__slash,
.filmInfo__year {
  margin-right: 6px;
}

.filmInfo__slash {
  margin-left: 6px;
}

.filmInfo__popularity {
  width: 36px;
  background-color: var(--main-decoration-color);
  color: var(--main-light-color);
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

/* =============OVERLAY============== */

.item-wrap {
  position: relative;
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96%;
  background: rgba(77, 77, 77, .5);
  opacity: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.item-wrap:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.overlay__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(77, 77, 77, .5);
  color: white;
  width: 118px;
  height: 42px;
  border: white solid 1px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
  font-weight: 700;
}

@media (min-width: 768px) {
  .container {
    width: 620px;
  }

  .gallery_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 54px;
  }

  .gallery-list__item,
  .gallery-list__item_image {
    width: 294px;
  }

  .filmInfo {
    display: flex;
  }


  .gallery_list__item:nth-last-child(-n+2) {
    padding-bottom: 30px;
  }
}


@media (min-width: 1024px) {
  .container {
    width: 876px;
  }

  .gallery_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
  }

  .gallery-list__item:not(:nth-last-child(3n)) {
    margin-right: 30px;
  }

  .gallery-list__item,
  .filmInfo,
  .gallery-list__item_image {
    width: 272px;
  }

  .item-wrap {
    position: relative;
    margin: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96%;
    background: rgba(77, 77, 77, .5);
    opacity: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;

  }

  .item-wrap:hover .overlay {
    opacity: 1;
    visibility: visible;
  }
}
